---
---

@charset "utf-8";

@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

.gallery .image-popup img,
.image-popup img {
  height: 250px !important;
  width: auto !important;
  object-fit: cover !important;
}