---
---

@charset "utf-8";

@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

figure.half img,
figure.third img,
.image-popup img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}